/*---------------- LOGO ------------------*/
img#logo:hover {
  animation: wiggle 0.6s infinite;
  transition: 0.5s ease;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  8% { transform: rotate(1.5deg); }
  16% { transform: rotate(3deg); }
  24% { transform: rotate(5deg); }
  32% { transform: rotate(3deg); }
  40% { transform: rotate(1.5deg); }
  48% { transform: rotate(0deg); }
  56% { transform: rotate(-1.5deg); }
  64% { transform: rotate(-3deg); }
  72% { transform: rotate(-5deg); }
  80% { transform: rotate(-3deg); }
  88% { transform: rotate(-1.5deg); }
  96% { transform: rotate(0deg); }
}

header img#logo {
  width: 80px;
  margin: 0;
}

/* ----------------- NAVIGATION -----------------------*/
/* the whole list*/
header {
  width: 100%;
  background-color: #0d0d0d;
  height: 110px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 100%;
}


/* every list option */
nav li {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 2em;
  transition: all 0.1s ease;
  transform: translateY(-50%);
  margin-top: auto;
  margin-bottom: auto;
}

/* text of every list option */
nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #851b21;
  text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
  padding: 0 20px;
}

nav li a:hover {
  color: #981b21;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;

}

nav li a .routerLinkActive {
  color: green;
}

/*------------- RESPONSIVENESS ------------*/
@media (max-width: 670px) {
  img#logo{
    visibility: hidden;
  }
}
