* {
  box-sizing: border-box;
}

/* -------------- ITEM / PRODUCT ---------------*/
.item {
  padding: 20px 30px 20px 10px;
  height: 150px;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}

/* -------------- PRODUCT IMAGE ---------------*/
.image {
  max-width: 110px;
  height: 110px;
  border-radius: 8px;
}

/* -------------- NAME AND DESCRIPTION ---------------*/
.title {
  margin: auto 40px auto 20px;
  width: 115px;
}

.title span {
  display: block;
  font-size: 1.1em;
  color: #43484D;
  font-weight: 400;
}

.title span:first-child {
  margin-bottom: 5px;
}
.title span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #43484D;
}

/* -------------- DELETE BUTTON ---------------*/
.deletebtn {
  margin: auto 10px auto 0;
  width: 115px;
}
.deletebtn img {
  width: 120%;
}

/* -------------- QUANTITIY ---------------*/
.quantity {
  margin: auto 0 auto 0;
  width: 140px;
}
.quantity* {
  display: inline-block;
}

.quantity input {
  -webkit-appearance: none;
  text-align: center;
  width: 32px;
  font-weight: 300;
  float: left;
  border: 1px solid #f1f1f1;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* -------------- BUTTONS ---------------*/
button[class*=btn] {
  width: 31px;
  height: 31px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  background-color: transparent;
}
.minus-btn img {
  width: 110%;
}
.plus-btn img {
  width: 110%;
}

/* -------------- PRICE ---------------*/
.price {
  float: right;
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin: auto 0 auto 20px;
}

.total-price {
  float: right;
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin: auto 0 auto 100px;
}

/* -------------- RESPONSIVENESS ---------------*/
@media (max-width: 800px) {
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image .quantity {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
