<!-- "Add product" popup modal screen -->
<form name="addProductForm" class="modal" id="addProductForm">
  <div class="modal-content">
      <!-- Header of the "add product" popup screen -->
    <button type="button" class="close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>

    <h4><b>Product toevoegen</b></h4>

    <div class="modal-body">
      <!----------- TITLE INPUT ------------->
      <label for="title-input">Product titel</label>
      <input type="text" #title="ngModel" [(ngModel)]="product.title" name="title" id="title-input" required>
      <span class="invalid-error" *ngIf="title.invalid && title.touched">Titel is vereist</span>

      <!----------- DESCRIPTION INPUT ------------->
      <label for="description-input">Product omschrijving</label>
      <input type="text" #description="ngModel" [(ngModel)]="product.description" name="description" id="description-input" required>
      <span class="invalid-error" *ngIf="description.invalid && description.touched">Omschrijving is vereist</span>

      <!----------- IMAGES INPUT ------------->
      <label for="description-input">Product afbeelding</label>
      <input type="file" (change)="onFileChanged($event)" #file #fileInput required>
      <img *ngIf="imgURL" [src]="imgURL" style="max-width:25%; margin: 10px 0 0 20px; display:block" alt="">

      <!----------- PRICE INPUT ------------->
      <label for="price-input">Prijs</label>
      <input type="number" #price="ngModel" [(ngModel)]="product.price" name="price" step="0.01" min="0.00" id="price-input" required>
      <span class="invalid-error" *ngIf="product.price == null && price.touched">Prijs is vereist</span>
    </div>

    <button [disabled]="title.invalid || description.invalid || product.images.length == 0 || product.price == null"
            (click)="addProduct()" class="btn confirm">Product toevoegen
    </button>
  </div>
</form>
