<!-- "Add product" popup modal screen -->
<form class="modal fade" id="addProductForm">
  <div class="modal-dialog" role="document">
  <div class="modal-content">
      <!-- Header of the "add product" popup screen -->
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Product toevoegen</h4>
      </div>

      <div class="modal-body mx-3">
        <!----------- TITLE INPUT ------------->
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="title-input">Product titel</label>
          <input type="text" [(ngModel)]="product.title" name="title" id="title-input" class="form-control validate" required>
          <span style="color: red; display: block; margin-top: 3px">
            <span *ngIf="product.title.length == 0">Titel is vereist</span>
          </span>
        </div>

        <!----------- DESCRIPTION INPUT ------------->
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="description-input">Product omschrijving</label>
          <input type="text" [(ngModel)]="product.description" name="description" id="description-input" class="form-control validate" required>
          <span style="color: red; display: block; margin-top: 3px">
            <span *ngIf="product.description.length == 0">Omschrijving is vereist</span>
          </span>
        </div>

        <!----------- IMAGES INPUT ------------->
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input style="display: none" type="file" (change)="onFileChanged($event)" #file #fileInput required>
          <button class="btn btn-primary" style="margin:20px 0; padding: 5px;" (click)="fileInput.click()">Product foto selecteren</button>
          <span style="color: red; display: block; margin-top: 3px">
            <span *ngIf="product.images.length == 0">Productfoto is vereist</span>
          </span>
          <img *ngIf="imgURL" [src]="imgURL" style="max-width:25%; margin:0 auto; margin-top:5px; display:block" alt="">
        </div>

        <!----------- PRICE INPUT ------------->
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <label data-error="wrong" data-success="right" for="price-input">Prijs</label>
          <input type="number" min="0.00" [(ngModel)]="product.price" name="price" id="price-input" class="form-control validate" required>
          <span style="color: red; display: block; margin-top: 3px">
            <span *ngIf="product.price == null">Prijs is vereist</span>
          </span>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button [disabled]="product.title.length == 0 || product.description.length == 0 || product.images.length == 0 || product.price == null"
                (click)="addProduct()" data-dismiss="modal" class="btn btn-default add-product confirm">Product toevoegen</button>
      </div>
    </div>
  </div>
</form>
