/* -------------- BODY ---------------*/

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* -------------- CART ---------------*/
.shopping-cart {
  width: 800px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

h1 {
  height: 60px;
  padding: 20px 30px;
  font-size: 1.5em;
  font-weight: 400;
}

.columnames {
  display: inline-flex;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
p {
  font-size: 0.8em;
  margin: 5px 0;
}
p#product {
  margin-left: 180px;
}
p#hoeveelheid {
  margin-left: 125px;
}
p#prijsps {
  margin-left: 90px;
}
p#prijstot {
  margin-left: 125px;
}

/* -------------- BUTTONS ---------------*/
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

/* -------------- BUTTONS ---------------*/
button[class*=btn] {
  width: 31px;
  height: 31px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  background-color: transparent;
}

/* -------------------------------- */

/* Totals section */
.total {
  width: 100%;
  padding-top: 20px;
  margin: 0 auto 10px;
  display: inline-block;
}

.totals-value {
  margin: auto 10px;
  float: right;
}

label {
  margin: auto 20px;
  float: right;
}

/* -------------- CHECKOUT BUTTON --------------- */
.checkout {
  background-color: #368A28;
  color: white;
  padding: 10px 20px;
  margin: 8px auto;
  border: none;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
  border-radius: 8px;
  font-size: 1.1em;
}

.checkout:hover {
  opacity:1;
}


/* -------------- RESPONSIVENESS ---------------*/
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .buttons {
    margin-right: 20px;
  }
}
