/* -------------- BODY ---------------*/

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* -------------- CART ---------------*/
.shopping-cart {
  width: 800px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border-radius: 6px;

  display: flex;
  flex-direction: column;
}

h1 {
  height: 60px;
  padding: 20px 30px;
  font-size: 1.5em;
  font-weight: 400;
}

.columnames {
  display: inline-flex;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}
p {
  font-size: 0.8em;
  margin: 5px 0;
}
p#product {
  margin-left: 180px;
}
p#hoeveelheid {
  margin-left: 125px;
}
p#prijsps {
  margin-left: 90px;
}
p#prijstot {
  margin-left: 125px;
}

/* -------------- ITEM ---------------*/
.item {
  padding: 20px 30px;
  height: 150px;
  display: flex;
  border-bottom: 1px solid #f1f1f1;
}

/* -------------- BUTTONS ---------------*/
.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

/* -------------- IMAGE ---------------*/
.image {
  max-width: 110px;
  height: 110px;
  border-radius: 8px;
}

/* -------------- NAME AND DESCRIPTION ---------------*/
.title {
  margin: auto 60px auto 20px;
  width: 115px;
}

.title span {
  display: block;
  font-size: 1.1em;
  color: #43484D;
  font-weight: 400;
}

.title span:first-child {
  margin-bottom: 5px;
}
.title span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

/* -------------- QUANTITIY ---------------*/
.quantity {
  margin: auto 50px auto 0;
  width: 100px;
}
.quantity* {
  display: inline-block;
}

.quantity input {
  -webkit-appearance: none;
  text-align: center;
  width: 32px;
  font-weight: 300;
  float: left;
  border: 1px solid #f1f1f1;
}

/* -------------- BUTTONS ---------------*/
button[class*=btn] {
  width: 31px;
  height: 31px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: block;
  float: left;
  background-color: transparent;
}
.minus-btn img {
  width: 110%;
}
.plus-btn img {
  width: 110%;
}

/* -------------- PRICE ---------------*/
.price {
  float: right;
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin: auto 0 auto 20px;
}

.total-price {
  float: right;
  width: 83px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
  margin: auto 0 auto 100px;
}

/* Totals section */
.totals {
  clear: both;
  width: 100%;
  margin-bottom: 10px;
}

label {
  float: left;
  clear: both;
  width: 79%;
  text-align: right;
}

.totals-value {
  float: right;
  width: 21%;
  text-align: right;
}

.totals-item-total {
  font-weight: bold;
}

.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #368A28;
  color: white;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}


/* -------------- RESPONSIVENESS ---------------*/
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image .quantity .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
