<div class="shopping-cart">
  <!-- Title -->
  <h1>Uw winkelwagen</h1>

  <!------------------------ SHOW WHEN CART IS EMPTY -------------------------------->
  <h2 [hidden]="orderedProducts.length != 0">Uw winkelwagen is leeg.</h2>


  <!--------------------- SHOW WHEN CART IS NOT EMPTY ------------------------------->
  <div class="cart-items" [hidden]="orderedProducts.length == 0">
    <!-- Columnames -->
    <div class="column-names">
      <p id="product">Product</p>
      <p id="hoeveelheid">Hoeveelheid</p>
      <p id="prijsps">Prijs per stuk</p>
      <p id="prijstot">Totaal</p>
    </div>

    <!-- Product -->
    <div *ngFor="let product of orderedProducts" class="item">
      <app-cart-item [product]="product" id="{{ product.product_id }}"></app-cart-item>
    </div>

    <!-- Total -->
    <div class="total">
      <label>Totaalbedrag</label>
      <div class="totals-value" id="cart-subtotal">€{{ totalPrice }}</div>
    </div>

    <!-- Checkout button -->
    <button class="checkout" (click)="checkout()">Afrekenen</button>
  </div>
</div>

