<div class="shopping-cart">
  <!-- Title -->
  <h1>Uw winkelwagen</h1>

  <!-- Columnames -->
  <div class="columnames">
    <p id="product">Product</p>
    <p id="hoeveelheid">Hoeveelheid</p>
    <p id="prijsps">Prijs per stuk</p>
    <p id="prijstot">Totaal</p>
  </div>

  <!-- Product -->
  <div *ngFor="let product of orderedProducts" class="item">

    <img class="image" [src]=product.image alt="" />

    <div class="title">
      <span>{{ product.title }}</span>
    </div>

    <div class="quantity">
      <button class="minus-btn" type="button" name="button">
        <img src="/assets/min.svg" alt="" />
      </button>

      <input type="text" name="name" value="1">

      <button class="plus-btn" type="button" name="button">
        <img src="/assets/plus.svg" alt="" />
      </button>
    </div>

    <div class="price">&euro;{{ product.price }}</div>
    <div class="total-price">&euro;{{ product.price }}</div>
  </div>

  <!-- Total -->
  <div class="total">
    <label>Totaalbedrag</label>
    <div class="totals-value" id="cart-subtotal">€100.00</div>
  </div>

  <button class="checkout">Afrekenen</button>

</div>
