<main>
  <article class="product">

    <button class="back-btn" type="button" name="button">
      <a routerLink="/products"><img src="/assets/left-arrow.svg" alt="" /></a>
    </button>

    <button class="modify-product"
            id="modifyProductBtn"
            [hidden]="user.role != 'ADMIN'"
            [disabled]="user.role != 'ADMIN'"
            (click)="openModifyProductModal(product)"
    >Product wijzigen</button>

    <button class="delete-product"
            id="deleteProductBtn"
            [hidden]="user.role != 'ADMIN'"
            [disabled]="user.role != 'ADMIN'"
            (click)="deleteProduct(product)"
    >Product verwijderen</button>

    <h1>{{ title }}</h1>

    <ul>
      <li *ngFor="let image of images">
        <img [src]="image" alt="{{title}}" class="img-responsive"/>
      </li>
    </ul>

    <p>{{ description }}</p>
    <p>&euro;{{ price }}</p>

    <div class="to-cart">
      <div class="quantity">
        <button (click)="decrease1()" class="minus-btn" type="button" name="button">
          <img src="/assets/min.svg" alt="" />
        </button>

        <input type="number" id="amount" min="1" value="1">

        <button (click)="increment1()" class="plus-btn" type="button" name="button">
          <img src="/assets/plus.svg" alt="" />
        </button>
      </div>

      <button (click)="addToCart(product)" class="btn-success add-to-cart">Toevoegen aan winkelwagen</button>
    </div>
  </article>
  <app-modify-product></app-modify-product>
</main>
