
<ul id="shop">
  <app-product
    *ngFor="let product of products"
    [product]="product"
  ></app-product>
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/boodschappen_mand.jpg" alt="" />-->
      <!--<h2>Boodschappen mand</h2>-->
      <!--<span class="prijs">&euro;30,00</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/fruitmand.jpg" alt="" />-->
      <!--<h2>Fruitmand</h2>-->
      <!--<span class="prijs">&euro;20,00</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/grote_mand.jpg" alt="" />-->
      <!--<h2>Grote mand</h2>-->
      <!--<span class="prijs">&euro;50,00</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/kleine_mand.jpg" alt="" />-->
      <!--<h2>Kleine mand</h2>-->
      <!--<span class="prijs">&euro;30,00</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/lampion_mand.jpg" alt="" />-->
      <!--<h2>Lampion mand</h2>-->
      <!--<span class="prijs">&euro;25,00</span>-->
    <!--</a>-->
  <!--</li>-->
  <!--<li>-->
    <!--<a class="shop">-->
      <!--<img src="assets/schaal_mand.jpg" alt="" />-->
      <!--<h2>Schaal mand</h2>-->
      <!--<span class="prijs">&euro;20,00</span>-->
    <!--</a>-->
  <!--</li>-->
</ul>
