html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: url('assets/backgrounds/swopa3zoom.jpg');
  background-size: cover;
}

/*----------------------------------------------*/

main {
  max-width: 1000px;
  margin: 2em auto;
}

p {
  font-size: 1.2em;
}

label {
  display: block;
  color: grey;
  margin: 1em 0 0.3em;
}

input {
  font-size: 1em;
  padding: 0.3em;
  border: 1px solid black;
  display: block;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 8px;
}

/* MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA ------- MEDIA */

@media (max-width: 1000px) {
  main {
    padding: 0 10px;
  }
}
