<form class="modal fade" id="addAdminForm">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- Header of the "add product" popup screen -->
      <div class="modal-header text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title w-100 font-weight-bold">Admin toevoegen</h4>
      </div>

      <div class="modal-body mx-3">

        <!------------------------ Name -------------------------------->
        <label for="new-admin-name">Naam admin</label>
        <input [(ngModel)]="admin.name" name="name" id="new-admin-name" type="text" required>

        <!------------------------ E-mail -------------------------------->
        <label for="new-admin-email">E-mail admin</label>
        <input [(ngModel)]="admin.email" name="email" id="new-admin-email" type="text" required>

        <!------------------------ Password -------------------------------->
        <label for="new-admin-password">Wachtwoord admin</label>
        <input [(ngModel)]="password1" name="password1" id="new-admin-password" type="password" required minlength="8">


        <label for="new-admin-password-repeat">Wachtwoord admin (nogmaals)</label>
        <input [(ngModel)]="password2" name="password2" id="new-admin-password-repeat" type="password" required minlength="8">


      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button (click)="addAdmin()" data-dismiss="modal" class="btn btn-default add-admin confirm">Admin toevoegen</button>
      </div>
    </div>
  </div>
</form>
