<form>
  <div class="container">
    <h1>Registreren</h1>
    <p>Vul onderstaand formulier in om u te registreren.</p>
    <hr>

    <!------------------------ Name -------------------------------->
    <label for="name">Naam</label>
    <input id="name" #name="ngModel" [(ngModel)]="name1" name="name" class="form-control" type="text" placeholder="Vul uw naam in" required>
    <span class="invalid-error" *ngIf="name.invalid && name.touched">Naam is vereist</span>

    <!------------------------ E-mail -------------------------------->
    <label for="email">E-mail</label>
    <input type="text" #email="ngModel" [(ngModel)]="email1" name="email" placeholder="Vul uw e-mail in" id="email" required>
    <span class="invalid-error" *ngIf="email.invalid && email.touched">E-mail is vereist</span>

    <!------------------------ Password -------------------------------->
    <label for="password">Wachtwoord</label>
    <input type="password" #password="ngModel" [(ngModel)]="password1" name="password" placeholder="Vul uw wachtwoord in" id="password" required minlength="8">
    <span class="invalid-error" *ngIf="password.invalid && password.touched">Wachtwoord is vereist</span>

    <label for="password-repeat">Wachtwoord (nogmaals)</label>
    <input type="password" #passwordrepeat="ngModel" [(ngModel)]="password2" name="password-repeat" placeholder="Vul uw wachtwoord nogmaals in" id="password-repeat" required minlength="8">
    <span class="invalid-error" *ngIf="passwordrepeat.invalid && passwordrepeat.touched">Wachtwoord is vereist</span>

    <button [disabled]="name.invalid || email.invalid || password.invalid || passwordrepeat.invalid"
            (click)="register()" type="submit" class="signupbtn">Registreren</button>

  </div>
</form>
